@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background: #090909;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
      #ec4899,
      #f97316
  );

  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
      #ff4d94,
      #fb923c
  );
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::selection {
  background: #ec4899;
  color: white;
}

::-moz-selection {
  background: #ec4899;
  color: white;
}

